{% extends 'base.html.twig' %}

{# Parsonalised Variables #}
{% set queryParams = app.request.query.all %}

{% block title %}Hello MainController!
{% endblock %}

{% block body %}
	<div
		class="row flex-row-reverse">

		{# ASIDE #}
		<aside
			class="col-12 col-sm-4 mt-3">
			{# PRESENTATION #}
			<h1>Bienvenue sur SymfonyFirst</h1>
			<div class="card bg-warning shadow-sm mb-5">
				<div class="card-body">
					Bienvenue sur notre merveilleux première essai symphony.
				</div>
			</div>

			{# SEARCH #}
			<div class="card shadow-sm mb-5">
				<div class="card-header">
					<h4 class="mb-0">Rechercher</h4>
				</div>
				<div class="card-body">
                    <form action="" id="filterform">
                        <div class="input-group">
                            <label 
                                class="input-group-text"
                                for="title">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </label>
                            <input 
                                class="form-control"
                                placeholder="Rechercher"
                                value="{% if queryParams is not empty and queryParams.title is defined %}{{ queryParams.title }}{% endif %}"
                                name="title"
                                id="title"
                                type="text">
                        </div>
                        <select 
                            name="categories" 
                            id="categories"
                            class="form-select mt-2">
                            <option value="0">Catégories</option>
                            {% for category in categories %}
                                <option 
                                    {% if queryParams is not empty and queryParams.categories is defined %}
                                        {{ queryParams.categories == category.id ? 'selected' : '' }}
                                    {% endif %}
                                    value="{{ category.id }}">
                                    {{ category.name }}
                                </option>
                            {% endfor %}
                        </select>
                        <input 
                            name="actual_page"
                            value="{{ actual_page }}"
                            hidden
                            type="text">
                    </form>
				</div>
			</div>
		</aside>

		{# MAIN #}
		<main class="col-12 col-sm-8 mt-sm-4">
			<h3>Nos dernières annonces</h3>
            <div id="content">
			    {% include "main/_content.html.twig" %}
            </div>
		</main>
	</div>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('/js/search.js') }}"></script>
	<script src="{{ asset('/js/like.js') }}"></script>
{% endblock %}
