{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}


{% block title %}Hello MainController!{% endblock %}

{% block body %}

    <div class="row flex-row-reverse">

        {# ASIDE #}
        <aside class="col-12 col-sm-4 mt-3">
            <h1>Bienvenue sur SymfonyFirst</h1>
            <div class="card bg-warning shadow-sm mb-5">
                <div class="card-body">
                    Bienvenue sur notre merveilleux première essai symphony.
                </div>
            </div>

            {# SEARCH #}
            <div class="card shadow-sm mb-5">
                <div class="card-header">
                    <h4 class="mb-0">Rechercher</h4>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    {{ form_row(form.title, {'attr': {'placeholder':'Rechercher'}}) }}
                    {{ form_row(form.categories) }}
                    <button
                        type="submit"
                        class="btn btn-dark">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        Rechercher
                    </button>
                    {{ form_end(form) }}
                </div>
            </div>

        </aside>
        {# MAIN #}
        <main class="col-12 col-sm-8 mt-sm-4">
            <h3>Nos dernières annonces</h3>
            <div class="row">
                {% for annonce in annonces|sort((b, a) => a.createdAt <=> b.createdAt) %}
                    {% if annonce.active %}
                        <div class="{# col-lg-6  #}col-12">
                            <div class="card shadow-sm mb-3 overflow-hidden">
                                <div class="row">
                                    <div class="col-6 overflow-hidden bg-light p-0">
                                        <a
                                            href="{{ path('annonces_view', {"id" : annonce.id}) }}">
                                            <img
                                                class="img-cover"
                                                src="{{ asset('/uploads/' ~ annonce.image) }}" 
                                                alt="{{ annonce.slug|replace({'-': ' '}) }}">
                                        </a>
                                    </div>
                                    <div class="col-6 p-3 d-flex justify-content-between flex-column">
                                        <a 
                                            class="link-dark underline-del"
                                            href="{{ path('annonces_view', {"id" : annonce.id}) }}">
                                            <h5>{{ annonce.title }}</h5>
                                        </a>
                                        <div class="text-muted text-small">Catégorie : {{ annonce.category }}</div>
                                        <div class="text-muted text-small">Posté par : {{ annonce.owner }}</div>
                                        <div class="mt-1 d-flex justify-content-between align-items-center w-100">
                                            <div class="h5 mb-0">{{ annonce.price }} €</div>
                                            {% if app.user %}
                                            <a 
                                                class="ms-2 link-dark underline-del"
                                                href="like"
                                                data-like="{{ annonce.id }}">
                                                <i class="fa fa-heart{{ annonce.heart ? "" : "-o" }}" aria-hidden="true"></i>
                                            </a>
                                            {% else %}
                                            <a 
                                                class="ms-2 link-dark underline-del"
                                                href="/login">
                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                            </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            {# PAGINATION #}
            <div>
                <ul class="pagination pagination-sm">
                    <li 
                        class="page-item shadow-sm {{ actual_page == 1 ? 'disabled' : ''}}">
                        <a 
                            class="page-link" 
                            href="{{ path('app_home', {"page" : actual_page - 1}) }}">
                            &laquo;
                        </a>
                    </li>

                    {% for page in 1.. (( (total_annonces / limit)|round(0, 'ceil'))) %}                        
                        <li class="page-item shadow-sm {{ actual_page == page ? 'active' : '' }}">
                            <a 
                                class="page-link" 
                                href="{{ path('app_home', {"page" : page}) }}">
                                {{ page }}
                            </a>
                        </li>
                    {% endfor %}

                    <li 
                        class="page-item shadow-sm {{ actual_page == (total_annonces / limit)|round(0, 'ceil') ? 'disabled' : ''}}">
                        <a 
                            class="page-link" 
                            href="{{ path('app_home', {"page" : actual_page + 1}) }}">
                            &raquo;
                            </a>
                    </li>
                </ul>
            </div>
        </main>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/js/like.js') }}"></script>
{% endblock %}
